* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.popup {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: none;
}

.popup div {
	display: flex;
	flex-direction: column;
}

.popup img {
	width: 250px;
	cursor: pointer;
}

.content {
    height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 30px;
	justify-content: space-between;
}

.topContainer {
	display: flex;
	flex-direction: column;
}

.pauseContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pause {
	width: 150px;
	cursor: pointer;
}

.scoreContainer {
	display: flex;
	align-items: flex-start;
	width: 100%;
}

.lives {
	display: flex;
	flex: 1;
}

.lives img {
	height: 50px;
}


.timer {
	flex: 0;
    position: relative;
}


h1, p {
	color: #0B1215;
	font-size: 30px;
	background: linear-gradient(to bottom, #e7c15a, #c99b3d);
    border: 5px solid #8b5a2b;
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
}

.timer p {
    color: #0B1215;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.score {
	color: #f1f1f1;
	flex: 1;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.itemContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 1000px;
}

.card {
	position: relative;
	width: 650px;
	height: 400px;
	text-align: center;
	transform-style: preserve-3d;
  	transition: transform 0.6s;
}

.card img {
	width: 650px;
  	height: 400px;
}

.cardFront, .cardBack {
	width: 650px;
  	height: 400px;
  	position: absolute;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardBack {
  	transform: rotateY(180deg);
  	background-color: transparent;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	background-image: url("./assets/extra/correct.png");
}

.choicesContainer {
	display: flex;
	justify-content: space-around;
}

.choicesContainer div img {
	width: 400px;
	display:block;
	z-index:999;
	cursor: pointer;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}

.choicesContainer div img:hover {
	transform: scale(1.05);
}